#wrapper{
	width: 35%;
	margin: 50px auto;
	padding: 20px;
	bacground: #EFFFE0;
}
.from{
	width: 50%;
	margin: 100px auto;
}
form div{
	margin: 3px auto; 
}
.textInut{
	margin-top: 2px;
	height: 28px;
	border: 1px solid #5E6e66;
	font-size: 16px;
	padding: 1px;
	width: 100px; 
}
.btn{
	padding: 7px;
	width: 100px;
}
.val_error{
	color: #FF1F1F;
}